@import "./assets/css/reset.css";

@import url("https://fonts.googleapis.com/css?family=Fjalla+One|IBM+Plex+Sans");
body {
  background-color: white;
}
.container {
  margin: auto;
  max-width: 1160px;
  height: 100%;
}
header {
  height: 75px;
  padding-top: 5px;
  padding-left: 15px;
  border-bottom: 3px solid #f0f0f0;
}
header img {
  height: 30px;
  width: 112px;
  object-fit: cover;
  padding-top: 18px;
}
/**************/
/* RESTAURANT */
/**************/
.restaurant {
  width: Calc(100% - 15px);
  height: 160px;
  display: flex;
  margin-bottom: 20px;
  padding-left: 15px;
}
.restaurantNameDesc {
  width: Calc(100% - 370px);
}
.restaurantName {
  font-family: "Fjalla One", sans-serif;
  font-size: 28px;
  font-weight: 600;
  width: 100%;
  padding-top: 10px;
  color: #2e3333;
}
.restaurantDescription {
  font-family: "IBM Plex Sans", sans-serif;
  color: #828585;
  width: 100%;
  padding-top: 20px;
}
.restaurantPicture {
  height: 160px;
  width: 370px;
  object-fit: cover;
}
.containerCatBasket {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
/*************/
/* CATEGORIE */
/*************/
.containerCategories {
  max-width: Calc(100% - 400px);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #d8e2e2;
}
.categoryTitle {
  font-family: "Fjalla One", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #434747;
  margin-bottom: 16px;
}
/********/
/* MENU */
/********/
.containerMenu {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 40px;
}
.cardMenu:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardMenu {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  width: Calc(50% - 10px);
  height: 135px;
  margin-bottom: 16px;
  overflow: hidden;
  background-color: white;
  border-radius: 7px;
}
.cardMenu img {
  width: 96px;
  height: 96px;
  padding: 10px;
  object-fit: cover;
  border-radius: 15px;
}
.menuContainerDetail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 10px;
}
.menuTitle {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #2e3333;
}
.menuDescription,
.menuPrice {
  padding-top: 10px;
  color: #828585;
}
.menuDescription {
  font-size: 14px;
}
.menuPrice {
  font-size: 16px;
}
/**********/
/* BASKET */
/**********/
.basket {
  font-family: "IBM Plex Sans", sans-serif;
  color: #828585;
  font-size: 16px;
  width: 370px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.basket-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.basketQtyMenu {
  display: flex;
  flex-direction: row;
  width: Calc(100% - 80px);
  margin-right: 5px;
}
.basketMenuPrice {
  width: 70px;
  text-align: right;
}

.minus:before,
.plus:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
  cursor: pointer;
  color: #33d6c9;
}
.minus:before {
  content: "\f068";
}
.plus:before {
  content: "\f067";
}
.plus-minus {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 1px #33d6c9;
  color: #33d6c9;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket-qty {
  text-align: center;
  width: 25px;
}
.basket-title {
  width: 100%;
  padding-left: 10px;
}
.plus-minus:hover {
  border: solid 1px #00a396;
  color: #00a396;
}
.basket button {
  border: none;
  height: 45px;
  width: Calc(100% - 20px);
  margin: 10px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #00ccbc;
}
.basketTotal {
  display: flex;
  justify-content: space-between;
  color: #2e3333;
  font-weight: bold;
  margin-top: 16px;
  padding: 16px 10px 10px 20px;
  border-top: 3px solid #f0f0f0;
}
